img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*, *::before, *::after {
    line-height: 1.5;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    line-height: 1.5;
    margin-bottom: 0;
    
}
p,ol,ul{
    margin-bottom: 0;
}

