.other-like-img{
        width:  350px;
        height: 350px;
}
.navbar{
    justify-content: flex-start;
}
.navbar-nav{
    flex-direction: row;
}
.nav{
    a{
        &:hover{
            border-bottom: 1px solid #D80EB1;
        }
    }
}
.footer{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;

}